body {
    background-image: url(/../../../assets/icon/Logoappmovil.jpg); /* Verifica esta ruta */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

ion-card {
    background-color: rgba(245, 246, 247, 0.9);
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 50px;
    color: #000; /* Cambiando el color del texto a un negro fuerte */
}

ion-card-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #000; /* Color de título en negro fuerte */
}

ion-input, ion-label {
    color: #000; /* Color de las entradas y etiquetas en negro fuerte */
}

ion-button {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 12px;
    margin-top: 20px;
    color: #000; /* Color del texto en el botón */
}
