<ion-header>
  <ion-toolbar>
    <ion-title>Perfil de Usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="perfil-container">
    <ion-avatar>
      <img [src]="usuario.foto_perfil" alt="Foto de perfil" class="profile-img" *ngIf="usuario.foto_perfil">
    </ion-avatar>

    <!-- Campo de selección de archivo solo visible en modo edición -->
    <div *ngIf="modoEdicion">
      <input type="file" (change)="cargarFotoPerfil($event)" accept="image/*" />
    </div>

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="usuario.nombre" [readonly]="!modoEdicion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="usuario.correo" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">RUT</ion-label>
        <ion-input [(ngModel)]="usuario.rut" readonly></ion-input> 
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha Nacimiento (Año/Mes/Dias)</ion-label>
        <ion-input [(ngModel)]="usuario.fecha_nacimiento" [readonly]="!modoEdicion"></ion-input> 
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Sede</ion-label>
        <p>{{usuario.sede}}</p>
      </ion-item>
    </ion-list>

    <!-- Botones de acción -->
    <ion-button expand="full" color="warning" *ngIf="!modoEdicion" (click)="habilitarEdicion()">
      Editar Perfil
    </ion-button>

    <!-- Botones de guardar/cancelar solo visibles en modo edición -->
    <div *ngIf="modoEdicion" class="action-buttons">
      <ion-button color="success" (click)="guardarCambios()">
        <ion-icon name="checkmark-circle"></ion-icon>
        Guardar Cambios
      </ion-button>
      <ion-button color="medium" (click)="cancelarEdicion()">
        <ion-icon name="close-circle"></ion-icon>
        Cancelar
      </ion-button>
    </div>
  </div>
</ion-content>
