ion-button {
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

ion-card {
    margin-top: 30%;
    padding: 20px;
    border-radius: 10px;
}

ion-content {
    --background: #e0f7fa;
}
