<ion-header>
  <ion-toolbar>
    <ion-title>Crear Viaje</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del viaje</ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content>
      <form [formGroup]="viaje" >
        <p>Conductor: {{usuario.nombre +' Rut:  '  +  usuario.rut}}</p>
        <ion-input labelPlacement="stacked" label="Id" formControlName="id"></ion-input>
        <ion-input labelPlacement="stacked" label="Asientos disponibles" formControlName="asientos_disponible"></ion-input>
        <ion-input labelPlacement="stacked" label="Destino" formControlName="destino" readonly="true" ></ion-input>
        <ion-input labelPlacement="stacked" label="Distancia M" formControlName="distancia_m" readonly="true" ></ion-input>
        <ion-input labelPlacement="stacked" label="Minutos" formControlName="tiempo_minutos" readonly="true" ></ion-input>
        <ion-input labelPlacement="stacked" label="Precio" placeholder="$" formControlName="precio" readonly="true"></ion-input>
      </form>
    </ion-card-content>
    <div id="map_html"></div>
    <ion-button>Crear viaje</ion-button>
  </ion-card>
</ion-content>
