<ion-header>
  <ion-toolbar>
    <ion-title>Crear Viaje</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del viaje</ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content>
      <form>
        <p>Conductor: {{usuario.nombre +' Rut:  '  +  usuario.rut}}</p>
        <br>
        <ion-input label="Asientos disponibles" labelPlacement="stacked"></ion-input>
        <ion-input label="Direccion" labelPlacement="stacked"></ion-input>
      </form>
    </ion-card-content>
    <ion-button>Crear viaje</ion-button>
  </ion-card>
  
</ion-content>
