body {
    background-image: url(../../../assets/icon/Logoappmovil.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* Para asegurarte de que la imagen cubra toda la pantalla */
    background-position: center;
    filter: opacity(0.7); /* Ajusta el valor entre 0 (completamente transparente) y 1 (completamente opaco) */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

ion-card-title {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

ion-card {
    background-color: rgba(255, 255, 255, 0.9);
    width: 80%; /* Ajusta el ancho según tus necesidades */
    max-width: 600px; /* Tamaño máximo en pantallas grandes */
    height: auto; /* Se ajusta automáticamente al contenido */
    padding: 20px; /* Agrega un relleno interno para darle más espacio al contenido */
    border: 2px solid;
    color: black;
    border-radius: 40px;
}

ion-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3%;
}

.registro {
    text-align: center;
}

.colorlogin {
    font-size: 45px;
    color: rgb(0, 89, 255);
    text-shadow: 
        1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black;
}

.centered-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.olvidar {
    text-align: center;
}

/* Media queries para hacer el diseño responsivo */
@media (max-width: 768px) {
    ion-card {
        width: 90%; /* Ajusta el ancho en pantallas más pequeñas */
        padding: 15px; /* Ajusta el relleno interno */
    }

    .colorlogin {
        font-size: 35px; /* Ajusta el tamaño de fuente en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    ion-card {
        width: 95%; /* Ajusta el ancho en pantallas muy pequeñas */
        padding: 10px; /* Ajusta el relleno interno */
    }

    .colorlogin {
        font-size: 30px; /* Ajusta el tamaño de fuente en pantallas muy pequeñas */
    }
}