<ion-app>
  <ion-menu contentId="menu">
    <ion-header>
      <ion-toolbar color="warning">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <br>
      <ion-list>
        <ion-item lines="full"(click)="perfil()">
          <ion-icon slot="start" name="person" color="dark"></ion-icon>Perfil
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item lines="full" (click)="administrar()">
          <ion-icon slot="start" name="key" color="dark"></ion-icon>Administrar
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item lines="full">
          <ion-icon slot="start" name="airplane" color="dark"></ion-icon>Viajes
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item lines="full" (click)="salir()">
          <ion-icon slot="start" name="exit" color="dark"></ion-icon>Salir
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>