<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
  
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="https://lumiere-a.akamaihd.net/v1/images/up_thingsyoumissed_3_c06b4cd1.png?region=0%2C0%2C1000%2C563">
    </ion-avatar>

    <ion-label *ngIf="usuario && usuario.nombre">    
      <p class="bienvenido">¡Bienvenido!</p>
      <p class="nombre-usuario">{{usuario.nombre}}</p>
    </ion-label>
  </ion-item>
</ion-header>

<!-- Cambiamos el id del mapa a algo único para evitar conflictos -->
 <ion-content id="map_home"></ion-content>


<ion-content>
  <div class="ion-padding" *ngFor="let viaje of viajes">
    <ion-card class="viaje-card">
      <ion-card-header>
        <ion-card-title>{{ viaje.destino }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Asientos disponibles: {{ viaje.asientos_disponible }}</p>
        <p>Precio: {{ viaje.precio }}</p>
      </ion-card-content>
      <ion-button expand="block" class="boton-amarillo" [disabled]="viaje.asientos_disponible === 0" (click)="tomarViaje(viaje)">Tomar!</ion-button>
      <ion-button expand="block" class="boton-azul" (click)="abrirDetalle(viaje)">Detalle</ion-button>
    </ion-card>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" *ngIf="usuarioAutenticado.tiene_auto === 'si'">
  <ion-fab-button color="warning" routerLink="/reservas">
    <ion-icon name="car" color="dark"></ion-icon>
  </ion-fab-button>
</ion-fab>
