<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
  
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img [src]="usuario.foto_perfil || 'https://cdn.icon-icons.com/icons2/2030/PNG/512/user_icon_124042.png'" alt="Foto de perfil">
    </ion-avatar>
  
    <ion-label *ngIf="usuario && usuario.nombre">    
      <p class="bienvenido">¡Bienvenido!</p>
      <p class="nombre-usuario">{{usuario.nombre}}</p>
    </ion-label>
  </ion-item>
  
</ion-header>

<ion-card id="card-temperatura" color="warning">
  <ion-card-header>
    <ion-card-title>Temperatura de DuocUc Puente Alto</ion-card-title>
    <ion-card-subtitle>{{temperatura}}°C</ion-card-subtitle>
  </ion-card-header>
</ion-card>
 <ion-content id="map_home"></ion-content>
<ion-content>
  <div class="ion-padding" *ngFor="let viaje of viajes">
    <ion-card class="viaje-card">
      <ion-card-header>
        <ion-card-title>{{ viaje.destino }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Asientos disponibles: {{ viaje.asientos_disponible }}</p>
        <p>Precio: {{ viaje.precio }}</p>
        
      </ion-card-content>
      <ion-button expand="block" class="boton-amarillo" [disabled]="viaje.asientos_disponible === 0" (click)="tomarViaje(viaje)">Tomar!</ion-button>
      <ion-button expand="block" class="boton-azul" (click)="abrirDetalle(viaje)">Ver ruta</ion-button>
      <ion-button routerLink="/detalles-reservas/{{ viaje.id }}" [disabled]="!haTomadoElViaje(viaje)">Detalle</ion-button>
    </ion-card>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" *ngIf="usuarioAutenticado.tiene_auto === 'si'">
  <ion-fab-button color="warning" routerLink="/reservas">
    <ion-icon name="car" color="dark"></ion-icon>
  </ion-fab-button>
</ion-fab>
