// Estilos para el contenido
ion-content {
  background-color: #f5f5f5;
  padding: 10px;

  .viaje-card {
    border: 3px solid #000000; // Borde amarillo
    border-radius: 10px; // Bordes redondeados
    margin-bottom: 15px;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); // Sombra marcada en hover
    }

    ion-card-header {
      ion-card-title {
        font-size: 1.2rem;
        font-weight: bold;
      }

      ion-card-subtitle {
        font-size: 1rem;
        color: #6c757d;
      }
    }

    ion-card-content {
      color: #555;
    }
    
  }

  // Estilos para los botones
  .boton-amarillo {
    --background: #ffcc00; // Color amarillo
    --color: black; // Texto en negro
    margin-right: 10px; // Espaciado entre los botones
  }

  .boton-azul {
    --background: #007bff; // Color azul eléctrico
    --color: white; // Texto en blanco
  }

  // Para mantener los botones uno al lado del otro
  ion-button {
    width: 48%; // Hacer que los botones ocupen menos espacio para caber al lado del otro
    display: inline-block; // Para alinearlos horizontalmente
  }

}
