ion-content {
  background-color: #f5f5f5;
  padding: 10px;
  
  // Asegúrate de que el contenido de la tarjeta permita el scroll
  .viaje-card {
    border: 2px solid #000000;
    border-radius: 10px;
    margin-bottom: 2%;
    transition: box-shadow 0.2s ease-in-out;
    
    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
    
    ion-card-header {
      ion-card-title {
        font-size: 1.1rem;
        font-weight: bold;
      }

      ion-card-subtitle {
        font-size: 1rem;
        color: #6c757d;
      }
    }

    ion-card-content {
      color: #555;
    }
  }

  .boton-amarillo {
    --background: #ffcc00;
    --color: black;
    margin-right: 10px;
  }

  .boton-azul {
    --background: #007bff;
    --color: white;
  }

  ion-button {
    width: 48%;
    display: inline-block;
  }

}
#map_home {
  height: 400px;
  width: 100%;
  border-radius: 20px;
}

#card-temperatura {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra más sutil */
  margin: 10px; /* Margen reducido */
  padding: 10px; /* Padding más pequeño */
  
}

#card-temperatura ion-card-header {
  margin-bottom: 8px; /* Menos separación entre elementos */
  text-align: center;
}

#card-temperatura ion-card-title {
  font-size: 1.5em; /* Tamaño más pequeño */
  font-weight: bold;
  color: #004080; /* Azul oscuro */
}

#card-temperatura ion-card-subtitle {
  font-size: 1.2em; /* Subtítulo más compacto */
  color: #333; /* Gris oscuro */
  font-weight: bold;
}


