ion-content {
  --background: #1b85dbcc;
  display: flex;
  justify-content: center;
  align-items: center;
}


ion-card {
  margin-top: 10%;
  width: 100%;
  padding: 100%;
  max-width: 400px;
  padding: 20px;
}

ion-alert {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ion-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
