ion-content {
  --background: #1b85dbcc;
  display: flex;
  justify-content: center;
  align-items: center;
}


ion-card {
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  
}

ion-alert {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ion-button {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 5vh;
  position: relative; 

}


ion-icon {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
